<!DOCTYPE html>
<html lang="zh-cn">
    {{>header}}
    <link href="/css/dic.css" rel="stylesheet">

    <body>
        {{>nav}}
        <div id="tabs">
            <div class="tab-title">题目类别</div>
            <div class="tab-content">
                <table>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                    <tr>
                        <td>{{1}}</td>
                        <td>{{函数}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </body>
</html>