<!DOCTYPE html>
<html lang="zh-cn">
    {{>header}}
    <link href="/css/question.css" rel="stylesheet">
    <body>
    {{>nav}}

        <div id="question">
            <div id="create">
                <form method="post" action="" id="new-question-form">
                    <label for="question-content" id="for-content">题目</label>
                    <textarea id="question-content" name="content" rows="5" cols="100"></textarea>

                    <fieldset id="choices">
                        <legend style="padding-left:20px ">选项</legend>
                        <div id="choice-type">
                            单选<input type="radio" name="choice-type" value="single" checked>
                            多选<input type="radio" name="choice-type" value="multi"></br>
                        </div>
                        <div class="choice-item">
                            <label for="choice-A">A:</label>
                            <input id="choice-A" type="text">
                            <span class="answer-flag right">此项为正确答案</span></br>
                        </div>

                        <div class="choice-item">
                            <label for="choice-B">B:</label>
                            <input id="choice-B" type="text">
                            <span class="answer-flag">此项为正确答案</span></br>
                        </div>

                        <div class="choice-item">
                            <label for="choice-C">C:</label>
                            <input id="choice-C" type="text">
                            <span class="answer-flag">此项为正确答案</span></br>
                        </div>

                        <div class="choice-item">
                            <label for="choice-D">D:</label>
                            <input id="choice-D" type="text">
                            <span class="answer-flag">此项为正确答案</span></br>
                        </div>

                        <div class="choice-item">
                            <label for="choice-E">E:</label>
                            <input id="choice-E" type="text">
                            <span class="answer-flag">此项为正确答案</span></br>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>